:root {
  --body-color: #f2f4f7;
  --form-color: #fcfcfc;

  --accent-color: rgba(84, 109, 64, 1);
}

body {
  background-color: green;
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  padding: 0;
}

.hero {
  flex: 1 0 auto;
}

.signup {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  background-color: var(--body-color)
}

.signup form {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.signup h2, form > :not(button) {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2.5rem;
}

form > button {
  margin-top: 1.5rem;
  margin-left: 2.5rem;
}

legend {
  font-size: 20px;
}

.forminputs {
  background-color: var(--form-color);
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.2);;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding-bottom: 2.5rem;
}

.input-row {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 5rem;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
}

a {
  color: var(--accent-color);
  text-decoration: none;
  font-weight: bold;
}

button {
  padding-left: 2.6rem;
  padding-right: 2.6rem;
  border-radius: 7px;
  height: 2.1rem;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  border: none;
  background-color: var(--accent-color);
  color: white;
  align-self: flex-start;
}

button:hover {
  background-color: calc(var(--accent-color));
}

input {
  padding-left: 12px;
  font-size: 15px;
  border: 1px lightgray solid;
  border-radius: 5px;
  flex: 1 auto;
  width: 19rem;
  height: 1.7rem;
}